/* ----------------------------------------------------------Секция наша команда --------------*/
.team-section {
  background-color: var(--button-background);
  padding-bottom: 94px;
}

.team-list {
  display: flex;

  margin-top: calc(-1 * var(--size-margin-one));
  margin-left: calc(-1 * var(--size-margin-one));
}
.team-list > .team-item {
  flex-basis: calc(100% / 4 - var(--size-margin-one));
  margin-left: var(--size-margin-one);
  margin-top: var(--size-margin-one);
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;

  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
}
/* Текст секции */
.team-text {
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  margin-top: 10px;
}

.card {
  background-color: white;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.card-social-item + .card-social-item {
  margin-left: 10px;
}
.card-social-icon {
  fill: currentColor;
}
.card-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-social-link:hover,
.card-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Main contant */
.main {
  background-color: var(--white-color);
}
